.heading{
    text-align: left;
}

.about{
	margin-top: 10%;
}

.para {
	display: flex;
	flex-wrap: wrap;
	font-family: "Times New Roman", Times, serif;
}

.text {
	margin-top: 2%;
	background-color: var(--white);
	width: 100%;
	margin: auto;
	padding: 2%;
    text-align: left;
}

.about_table{
 display: table;
  width: 100%;
  table-layout: fixed;
  border-spacing: 10px;

}

.image {
	display: block;
	margin-bottom: 30px;
}

.myname {
	margin-top: 20px;
	display: block;
	font-weight: 600;
	font-family: "Times New Roman", Times, serif;
    text-align: left;
}

.status {
	font-weight: 600;
	margin-bottom: 40px;
	font-family: "Times New Roman", Times, serif;
    text-align: left;
}

/*mobile view*/
@media only screen and (max-width: 768px) {
    .about {
        margin-top: 65%; /* Adjust margin for smaller screens */
    }

    .image {
        margin-bottom: 15px;
        padding: 10px;
    }

    .text {
        position: relative;
        width: 100%;
        text-align: left;
        padding: 10px;
    }

    .myname,
    .status,
    .para {
        width: 100%;
        text-align: center;
    }

    #para {
        font-size: small;
    }
}