.college {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-spacing: 10px;
}

.college_name {
    text-decoration: underline;
}

.psu,
.sppu,
.bamu {
    display: table-cell;
    background-color: white;
    text-align: left;
    width: 100%;
    padding: 10px;
}

/* Responsive styles */
@media only screen and (max-width: 768px) {
    .psu{
		display: block; 
        width: 100%; 
		margin-top: 10%;
		
	}
    .sppu,
    .bamu {
        display: block; 
        width: 100%; 
		margin-top: 10%;		
    }
}
