.company {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-spacing: 10px;
}

.widmlabs,
.colossus,
.seed {
    display: table-cell;
    background-color: white;
    text-align: left;
    width: 100%; /* Occupy full width initially */
    padding: 10px;
}

/* Responsive styles */
@media only screen and (max-width: 768px) {
    .widmlabs{
		 display: block; 
        width: 100%; 
		margin-top: 10%;
		
	}
    .colossus,
    .seed {
        display: block; 
        width: 100%; 
		margin-top: 10%;
    }
}
