
.contact{
  background-color: white;
}
.label{
  display: flex;
  color: black;
  font-size: x-large;
  padding-left: 5%;
  margin-bottom: 0%;
}

.information{
  display: inline-flex;
  color: black;
  padding-right: 60%;
  margin-top: 0%;

  }

  .about{
  background-color: #333333;
  width: 1000px;
  height: 900px;
}